<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>shop</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div class="jumbotron">
    <h1>DongDong ITEM SHOP</h1>
    <p class="lead btn-info" >회원 기능</p>
    <p>
      <a class="btn btn-lg btn-light" href="/members/join">회원가입</a>
      <a class="btn btn-lg btn-light" href="/members">회원목록</a>
    </p>
    <p class="lead btn-info">상품 기능</p>
    <p>
      <a class="btn btn-lg btn-success" href="/items/signup">상품등록</a>
      <a class="btn btn-lg btn-success" href="/items">상품목록</a>
    </p>
    <p class="lead btn-info">주문 기능</p>
    <p>
      <a class="btn btn-lg btn-dark" href="/order">상품주문</a>
      <a class="btn btn-lg btn-dark" href="/orders">주문내역</a>
    </p>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>